# Maven
target/
*.jar
*.war
*.ear
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
DOCUMENTATION.md
release.properties
dependency-reduced-pom.xml
.flattened-pom.xml

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Local
*.log
*.sh
*.json
.env
.env.local
.claude/
